body {
    background: #222;
}
.main-div {
    display: flex;
    justify-content: center;
    align-self: center;
    /* min-height: 100vh; */
    /* background: #222; */
}
.container {
    position: relative;
    max-width: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fill, 50px);
    /* grid-template-rows: minmax(50px, auto); */
    grid-template-rows: repeat(auto-fill, 50px);
    /* height: 300px; */
    margin: 40px;
    grid-auto-flow: dense;
    gap: 10px;
}
.box{
    background: rgb(51, 51, 51);
    padding: 10px;
    display: grid;
    place-items: center;
    color: #fff;
}
.container .box:nth-child(1)
{
    grid-column: span 7;
    /* height: 30vh; */
    grid-row: span 2;
}
.container .box:nth-child(2)
{
    grid-column: span 7;
    grid-row: span 5;
}
.container .box:nth-child(3)
{
    grid-column: span 7;
    grid-row: span 8;
}
.container .box:nth-child(4)
{
    grid-column: span 7;
    grid-row: span 9;
}
.container .box:nth-child(5)
{
    grid-column: span 7;
    grid-row: span 8;
}
.container .box:nth-child(6)
{
    grid-column: span 7;
    grid-row: span 5;
}
.container .box:nth-child(7)
{
    grid-column: span 7;
    grid-row: span 2;
}
.container .box:nth-child(8)
{
    grid-column: span 8;
    grid-row: span 7;
}
.container .box:nth-child(9)
{
    grid-column: span 13;
    grid-row: span 13;
}
.container .box:nth-child(10)
{
    grid-column: span 8;
    grid-row: span 6;
}
.container .box:nth-child(11)
{
    grid-column: span 7;
    grid-row: span 10;
}
.container .box:nth-child(12)
{
    grid-column: span 7;
    grid-row: span 10;
}
.container .box:nth-child(13)
{
    grid-column: span 7;
    grid-row: span 10;
}
.container .box:nth-child(14)
{
    grid-column: span 10;
    grid-row: span 65;
}
.container .box:nth-child(15)
{
    grid-column: span 11;
    grid-row: span 30;
}